# Listas

In [26]:
frutas = ['banana','manzana','pera']
numeros = [10,30,85]
misListas = [[10,20,30],['a','b','c'], ['Laura', 'Caro', 'Aerith']]

In [8]:
frutas[1]

'Caro'

In [9]:
misListas[2][1]

'Caro'

In [10]:
frutas[0] = 'Sandia'
frutas

['Sandia', 'manzana', 'pera']

In [11]:
frutas.append('mango')
frutas

['Sandia', 'manzana', 'pera', 'mango']

In [12]:
frutas.sort()
frutas

['Sandia', 'mango', 'manzana', 'pera']

In [13]:
frutas.sort(reverse=True)
frutas

['pera', 'manzana', 'mango', 'Sandia']

In [14]:
frutas.remove('manzana')
frutas

['pera', 'mango', 'Sandia']

In [15]:
frutas.reverse()
frutas

['Sandia', 'mango', 'pera']

In [16]:
lista1 = [1,2,3]
lista2 = [4,5,6]

combinada = lista1+lista2
combinada

[1, 2, 3, 4, 5, 6]

In [17]:
repetida = lista1 * 2
repetida

[1, 2, 3, 1, 2, 3]

In [18]:
sublista = combinada[1:4]
sublista

[2, 3, 4]

In [32]:
insertar = [1,2,4,5]
insertar.insert(2,3)
print(insertar)

[1, 2, 3, 4, 5]